* {
    box-sizing: border-box;
    
}

html {
    font-size: 62,5%;
}

body {
    margin: 0;
    font-size: 16px;
   
}

.navbar {
    text-align: center;
}

.navbar li{
    display: inline-block;
    text-transform: uppercase;
    margin-right: 1em;
    
    
}

.navbar ol {
    list-style-type: none;
  

}

.navbar a {
    text-decoration: none;
    color: #000000
    
}

.navbar a:hover{
    color: red;
    
}



.split-bar {
  height: 0.5em;
  background-color: #000000;
  opacity: 0.2;
}

.split-thin-bar {
  height: 0.1em;
  background-color: #000000;
  opacity: 0.2;
  margin-bottom: 1em;
}

h1, h3{
    text-align: center;
}

.container-window {
    text-align: center;
}
    
    
    
.box {

  border: 1px solid black;
  display: inline-block;
  width:30em;
  margin-right: 1em;
}

.box p {
    text-align: left;
}



footer {
    background-color : #000000 ;
    color: #FFFFFF;
    padding: 1em;
    text-align: center;
}


