/*******************************************************************
 *                          GENERAL                                *
 *******************************************************************/

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
  width: 960px;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  padding: 0;
}

/*******************************************************************
 *                          TOOLS                                  *
 *******************************************************************/
html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Courgette";
  src: url("../fonts/Courgette-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*******************************************************************
 *                          HEADER                          *
 *******************************************************************/

.header {
  text-align: center;
}

/*******************************************************************
 *                          MAIN                                   *
 *******************************************************************/

/*******************************************************************
 *                          FOOTER                                 *
 *******************************************************************/

footer {
  background-color: ;
  text-align: center;

  font-size: ;
}

.fa-brands {
  font-size: 3rem;
  color: #003884;
}
