* {
  box-sizing: border-box;
}

/* Commun */
body {
  margin: 16px;
  background-color: pink;
}

.box {
  border: 2px solid orange;
  background-color: wheat;
  width: 20%;
  
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;/* si les éléments débordent la largeur du conteneur, ils passeront à la ligne suivante. */
  justify-content: center;
  gap: 1px;
  height: 100vh;
  align-items: center;
  
}
 
