/* Commun */
body {
    margin: 16px;
}
.flex {
    display: flex;
    flex-direction: column;
    background-color: brown;
    height: 75vh;
    width: 100%;
}
.box {
    border: 2px solid orange;
    background-color: wheat;
}

/* Exercice 1 */

.flex {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

/* Exercice 2 */

.flex {
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

/* Exercice 3 */

.flex {
  
    display: flex;
    flex-direction: column;
    justify-content: space-envenly;
    
}

/* Exercice  4*/

.flex {
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}


/* Exercice 5 */
.flex {
    
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    height: 25%;
}


/* Exercice 6 */

.flex {
    column-gap: 50px;
    row-gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
   
}
.box {
    height: 25%;
}

